{% extends "base.html" %}

{% load static %}

{% block link %} <link rel="stylesheet" href="{% static 'css/agency.css' %}"> {% endblock %}

{% block section%}
<p>About The TRAVELLX Agency</p>
{%endblock%}

{% block content%}
<P class="service_title">TRAVELLX AGENCY</P>
<p class="about">sdjlhjdsldjosdj flkdsflksdjosdjfsdfnlj kdsfoisdsdnflkjdsfodsjfoisfsd sdfnosdjf sfddfo
    jfjdsjfsjfsdjfsdnflkjnsdaofjsdsdfj arj ppwe sdnvpsj nkjrw srksnsdsrfsfn ds usfsd lsjdvnoh buos sis
     sdnodssd dlnsdohossd nooass hs shnx  bosfajgsa sahgowjfw hnaogjsanfsa bhoasgjasfj hsaogsangflsja shaogf
     sdfsndnhsdngfs lsdfdnbsjfaogj lsngosajgfoasns gshgshjsanlngsjafg aslngfosjosa aslngfosajgsan nosajsjgs
     snsj  nsja  oasg lnbjbsagjsjgsg sjg ag sg  bojsa sojs gsjgs sfjsfa lsngsag slgsjgs lgnsofgs glsngosg s
</p>
<P class="service_title">OUR SERVICES</P>
<p class="about">
   kjnkjglsjfihfkjsdhfius <br>
   jfhdshfsdhfodshfosdhhso <br>
   khsdfhshfksdhfkshishsdhisdfh <br>
   foshfosdofsofsdohfshlsfososd <br>
</p>
{% endblock%}